@import "reset";
@import "variables";
@import "themes/dark";
@import "themes/light";

body {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
  font: var(--font-m);
}

.main {
  display: flex;

  .content {
    flex-grow: 1;
    padding: 20px;
  }
}