@import "reset";
@import "variables";
@import "themes/dark";
@import "themes/light";

body {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
  font: var(--font-m);
}

.main {
  display: flex;

  .content {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - var(--height-navbar));
    padding: 20px 20px 20px 35px;
  }
}

*::-webkit-scrollbar {
  width: 8px;               /* ширина всей полосы прокрутки */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color-inverted);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid var(--border-color);  /* отступ вокруг бегунка */
}
