@import "reset";
@import "variables";
@import "themes/dark";
@import "themes/light";

body {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
  font: var(--font-m);
}

.main {
  display: flex;

  .content {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - var(--height-navbar));
    padding: 20px 20px 20px 35px;
  }
}