.root {
  &_title {
    color: var(--primary-color);
    font: var(--font-l);
  }

  &_text {
    color: var(--secondary-color);
  }

  &_s {
    font: var(--font-s);
  }

  &_m {
    font: var(--font-m);
  }

  &_l {
    font: var(--font-l);
  }

  &_xl {
    font: var(--font-xl);
  }

  &__error {
    .root_title {
      color: var(--error-color);
    }

    .root_text {
      color: var(--error-color);
    }
  }

  &.left {
    .root_title,
    .roote_text {
      text-align: left;
    }
  }

  &.rigth {
    .root_title,
    .root_text {
      text-align: right;
    }
  }

  &.center {
    .root_title,
    .root_text {
      text-align: center;
    }
  }
}
