.button {
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--primary-color);
}

.xl {
  padding: 10px 16px;
  border-radius: 5px;
  background: var(--gray);
  font: var(--font-l);
}
