.avatar {
    align-self: center;
    object-fit: contain;
}

.l {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.s {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}