.sidebar {
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--bg-color-inverted);
  width: 200px;
  height: auto;
  min-height: calc(100vh - var(--height-navbar));
  transition: 0.3s width;

  &_links {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 25px;
    margin-left: 25px;
    width: fit-content;
  }

  &_button {
    position: absolute;
    bottom: 20px;
    right: -30px;
  }

  &_switchers {
    position: absolute;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__collapsed {
    width: 70px;
  }
}
