.dark {
  --bg-color: #003;
  --bg-color-inverted: #615656;
  --gray: #767070;
  --primary-color: #603;
  --secondary-color: #696;
  --border-color: #67555562;
  --error-color: #fc3a3a;
  --skeleton-shadow: #595454;
  --skeleton-color: #2f2b2b;
  --code-bg: #3d393933;
}
