.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--height-navbar);
    background: var(--bg-color-inverted);

    &__links {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        margin-right: 20px;
    }

    &__link {
        color: var(--secondary-color);
    }
}