.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height-navbar);
  padding: 20px;
  background: var(--bg-color-inverted);

  &__links {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin-left: auto;
  }

  &__link {
    color: var(--secondary-color);
  }
}