.block {
    display: flex;
    align-items: center;

    &_content {
        z-index: 100;
        position: fixed;
        left: 2vw;
        height: 40vh;
        width: 96vw;
        background-color: var(--gray);
        padding: 30px 10px 20px;
        touch-action: none;
        overflow-y: auto;
        border-radius: 20px 20px 0 0;
        bottom: 0;
    }
}