.dropdown {
	position: relative;
    width: fit-content;
    min-width: 80px;

    &_btn {
        width: auto;
        box-shadow: 2px 2px 2px var(--bg-color-inverted);
        border-radius: 4px;
        border-style: none;
        padding: 6px 8px;
        margin-bottom: 2px;
    }

    &_items {
        position: absolute;
        display: grid;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid var(--border-color);
        background: var(--gray);
    }

    &_item {
        height: 25px;
        outline: none;
        color: var(--secondary-color);
        text-decoration: none;
        border: none;
        background: transparent;
        font: var(--font-m);
        cursor: pointer;
    }
}