.article {
  &_title {
    color: var(--primary-color);
    font: var(--font-l);
  }

  &_text {
    color: var(--secondary-color);
  }

  &__error {
    .article_title {
      color: var(--error-color);
    }

    .article_text {
      color: var(--error-color);
    }
  }

  &.left {
    .article_title,
    .article_text {
      text-align: left;
    }
  }

  &.rigth {
    .article_title,
    .article_text {
      text-align: right;
    }
  }

  &.center {
    .article_title,
    .article_text {
      text-align: center;
    }
  }
}
